* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: black;
  background-color: linen;
}

.navbar {
  background-color: black;
  color: #fff;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff dashed;
  color: #aaa;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  color: blue;
  line-height: 2.5;
}
